<div ng-controller="SymptomCardController">
	<div class="card-front" ng-class="{ 'hidden': reversed }">
		<div class="card-title grey-text text-darken-4">
			<span class="card-title-text">{{card.title}}</span><i class="md md-more-vert pull-right activator" ng-click="reversed = ! reversed"></i>

		</div>
		<div class="card-content">
			<!-- ng-controller="SymptomCardController" -->
			<div style="margin:10px 0 0 25px;">
			    <div ring-slider cursor-attr="{{default}}" severity-num="card.severity" display-only></div>
			</div>
		</div>
		<div class="card-footer">
			<p>{{timeSaved}}</p>
		</div>
	</div>
	<div class="card-reverse" ng-class="{ 'reversed': reversed }">
		<div class="card-title grey-text text-darken-4">
			<span class="card-title-text">Edit: {{card.title}}</span><i class="md md-close pull-right activator" ng-click="reversed = ! reversed"></i>
		</div>
		<div class="card-content">
			<!-- ng-controller="SymptomCardController" -->
			<div style="margin:10px 0 0 25px;">
			    <div ring-slider cursor-attr="{{move}}" severity-num="card.severity"></div>
			    <button type="submit" class="btn btn-default" ng-click="saveSeverity()">Save Severity</button>
			    <h5>Severity Saved: {{card.severity}}</h5>
			</div>
		</div>
		<div class="card-footer">
			<p>{{timeSaved}}</p>
		</div>
	</div>
</div>