<div ng-controller="SymptomCardController">
	<!--div class="card-front" ng-class="{ 'hidden': reversed }">
		<div class="card-title grey-text text-darken-4">
			<span class="card-title-text">{{card.title}}</span><i class="md md-more-vert pull-right activator" ng-click="reversed = ! reversed"></i>

		</div>
		<div class="card-content">
			<div style="margin:10px 0 0 0;">
			    <div ring-slider cursor-attr="default" severity-num="card.severity" display-only></div>
			</div>
		</div>
		<div class="card-footer">
			<p>{{timeSaved}}</p>
		</div>
	</div>
	<div class="card-reverse" ng-class="{ 'reversed': !reversed }">-->
	<div class="card-front">	
		<div class="card-title grey-text text-darken-4">
			<span ng-show="reversed" class="card-title-text">{{card.title}}</span>
			<span ng-show="isEditable(card.created, card.date)">
				<i ng-show="reversed" class="md md-more-vert pull-right activator" ng-click="onEditClick(defaultSlider)"></i>
			</span>
			<span ng-show="!reversed" class="card-title-text">Edit: {{card.title}}</span>
			<i ng-show="!reversed" class="md md-close pull-right activator" ng-click="onEditClick(grabSlider)"></i>
		</div>
		<div class="card-content">
			<!-- ng-controller="SymptomCardController" -->
			<div style="margin-top: 20px;">
			    <div ring-slider cursor-attr="defaultSlider" severity-num="card.severity" display-only></div>
			    <div class="pull-left" style="padding:0 0 5px 5px;">
				    <button type="submit" ng-show="!reversed" class="btn btn-default" ng-click="saveSeverity(card)">Save Severity</button>
				    <h5 ng-show="saved">Symptom Saved!</h5>
				  </div>
				  <div class="pull-right" style="padding:0 5px 5px 0;">
				  	<button type="" ng-show="!reversed" class="btn btn-default" ng-click="deleteSymptom(card.id)"><i class="fa fa-trash-o"></i></button>
				  </div>
			    <div class="clear"></div>
			</div>
		</div>
		<!--div class="card-footer">
			<p>{{card.created | date:'EEE MMM dd yyyy h:mm a'}}</p>
		</div-->
	</div>
</div>