<div class="row" ng-controller="GoalController">
	<div class="col-md-12 path-details-container">
		
		<div class="path-details-header table">
			<div class="table-center">
				<h1>Choose an activity type</h1>
				<button class="btn btn-default" ng-click="cancel($event)">Cancel</button>
			</div>
			<div class="clear"></div>
		</div><!--END /.path-details-header-->
		
		<div ng-repeat="activity in goalActivitiesList" class="path-details-hero" style="background: #f5f5f5; min-height: 50px;width:90%;margin: 10px 0 10px 25px;">
			<img src="/design/img/{{activity.icon_path}}" class="profile-small" style="margin:5px 0 0 5px;"/>
			<h4 style="position: absolute;top: 15px;left: 60px;">{{activity.name}}</h2>
			<a class="btn btn-default" role="button" ng-click="getGoalActivityId(activity);cancel($event);" style="color: #333333;float: right;margin: 10px 0 0 0;">Choose</a>
		</div><!--END /.path-details-hero-->
		
	</div><!--END /.path-details-container-->
</div><!--END /.row-->