<div style="" ng-controller="GoalController as goalCtrl">
	
	<div style="padding: 20px; margin-bottom: 20px; border: 1px solid #cccccc;">
		<b>Add Goal:</b>
	</div>

	<form name="goalForm" class="add-goal" ng-submit="addGoal()" >

		<div class="form-group" style="margin:5px 10px;">
			<label for="goal-category">Goal Category:</label>
			<select class="form-control" ng-model="goalCtrl.goal.activity">
			  <option value="0"></option>
			  <option value="1">Exercise</option>
			  <option value="2">Travel</option>
			  <option value="3">Sleep</option>
			  <option value="4">Diet</option>
			  <option value="5">Make</option>
			  <option value="6">Work</option>
			  <option value="7">Learn</option>
			  <option value="8">Find</option>
			</select>
		</div><!--END /.form-group-->
	  
		<div class="form-group" style="margin:5px 10px;">
			<label for="goal" class="sr-only">What's your goal?</label>
			<input type="text" class="form-control" id="goal" placeholder="What's your goal?" ng-model="goalCtrl.goal.body">
		</div><!--END /.form-group-->

		<div class="form-group" style="margin:5px 10px;">
			<label for="goal-action" class="sr-only">What's your first step?</label>
			<input type="text" class="form-control" id="goal-action" placeholder="What's your first step?" ng-model="goalCtrl.goal.action">
		</div><!--END /.form-group-->

		<div class="form-group" style="margin:5px 10px;">
			<label for="action-frequency">How many times per week?</label>
			<select class="form-control" ng-model="goalCtrl.goal.frequency">
			  <option value="0"></option>
			  <option value="1">1 Time</option>
			  <option value="2">2 Times</option>
			  <option value="3">3 Times</option>
			  <option value="4">4 Times</option>
			  <option value="5">5 Times</option>
			  <option value="6">6 Times</option>
			  <option value="7">7 Times</option>
			</select>
		</div><!--END /.form-group-->

		<div class="modal-footer" style="border-bottom:1px solid #e5e5e5;border-top:none;">
		    <button type="submit" class="btn btn-primary" ng-click="ok($event)">OK</button>
		</div>

	</form>

	<button class="btn btn-warning" style="margin-top: -88px;
    margin-left: 140px;" ng-click="cancel($event)">Cancel</button>

</div>