<div class="row">
	<div class="col-md-12 path-details-container">
		
		<div class="path-details-header table">
			<div class="table-center">
				<h1>Create a new goal</h1>
				<button class="btn btn-default" ng-click="cancel($event)">Cancel</button>
			</div>
			<div class="clear"></div>
		</div><!--END /.path-details-header-->
		
		<div class="path-details-hero" style="background: url('/design/img/path-hero-bkgd.jpg') no-repeat left top; min-height: 123px;">
			<img src="/design/img/exercise.png" class="path-hero-icon" />
			<div style="position: absolute; top: 40px; left: 135px;">
				<p>Exercise</p>
				<h2>Bike Lake Monona</h2>
			</div>
		</div><!--END /.path-details-hero-->
		
		<div class="path-details-form">
			<h3>Path Details</h3>
			<div class="form-row">
				<label for="">What would you like to do?</label>
				<div class="path-input">Build up my endurance</div>
				<a href="#" style="color: #333333;">Invite other to join you?</a>
			</div>
			
			<div class="form-row">
				<label for="">Selected path</label>
				<div class="path-input">Joe Trainers Lake Challenge</div>
			</div>
		</div><!--END /.path-details-form-->
		
		<div class="path-details-overview">
			<div class="row">
				<div class="col-md-2" style="padding-right: 15px;">
					<img src="/design/img/Expert_ProfilePhoto.png" />	
				</div>
				<div class="col-md-10">
					<div class="path-overview-body">
						<div class="path-overview-title" style="float: left;position: relative; top: 10px;">Path Overview</div>
						<button style="float: right;background-color: #00AB91;border-radius: 15px;border:none;color: #ffffff;">$10</button>
						<div class="clear" style="height: 5px;"></div>
						<p>This is a 11.11 mi bike ride in Madison, WI, United States. The Bike Ride has a total ascent of 36.0 ft and has a maximum elevation of 927.59 ft.</p>
						<button>See Path Details</button>
					</div><!--END /.path-overview-body-->	
					
				</div>
			</div><!--END /.row-->
		</div><!--END /.path-details-overview-->
		
		<div class="path-details-team">
			<p>People you know on this path</p>
			<ul>
				<li><img src="/design/img/PYK_Photo1.png" /></li>
				<li><img src="/design/img/PYK_Photo2.png" /></li>
				<li><img src="/design/img/PYK_Photo3.png" /></li>
				<li><img src="/design/img/PYK_Photo4.png" /></li>
				<li><img src="/design/img/PYK_Photo5.png" /></li>
				<li class="plus">+3</li>
			</ul>
		</div>
		
		<div class="path-details-location">
			<h3>Location</h3>
			<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d93245.75214753454!2d-89.47646000795177!3d43.08497214334484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8806536d3a2019ff%3A0x4e0cfcb5ba484198!2sMadison%2C+WI!5e0!3m2!1sen!2sus!4v1444955537075' width='600' height='450' frameborder='0' style='border:0' allowfullscreen></iframe></div>
		</div>
		
		<div class="path-details-frequency">
			<h3>Frequency per week</h3>
			<ul>
				<li>1</li>
				<li>2</li>
				<li class="selected">3</li>
				<li>4</li>
				<li>5</li>
				<li>6</li>
				<li>7</li>
			</ul>
		</div>
		
		<div class="path-details-toolkit">
			<h3>Your Toolkit</h3>
			<div class="toolkit-body">
				<input class="toolkit-element" type="checkbox" name="" value="" />
				<span class="toolkit-label">Bike</span>
			</div>
			<div class="toolkit-body">
				<input class="toolkit-element" type="checkbox" name="" value="" />
				<span class="toolkit-label">Helmet</span>
			</div>
			<div class="toolkit-body">
				<input class="toolkit-element" type="checkbox" name="" value="" />
				<span class="toolkit-label">GPS</span>
			</div>
			<div class="toolkit-body">
				<input class="toolkit-element" type="checkbox" name="" value="" />
				<span class="toolkit-label">Water Bottle</span>
			</div>
			<div class="toolkit-body">
				<input class="toolkit-element" type="checkbox" name="" value="" />
				<span class="toolkit-label">Heart-rate Monitor</span>
			</div>
			<div class="toolkit-body">
				<input class="toolkit-element" type="checkbox" name="" value="" />
				<span class="toolkit-label">Phone</span>
			</div>
			<div class="clear"></div>
		</div>
		
		<div class="path-details-submit">
			<div class="form-row">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</div>
		
	</div><!--END /.path-details-container-->
</div><!--END /.row-->