<div class="row" ng-controller="CardControllerInit">

	<!--<div id="journal-entry" class="col-md-2">
		<span class="pull-left">ADD: &nbsp;</span>
		<i class="md md-create pull-left" ng-click="addCard('text-card')"></i>
		<i class="md md-camera-alt pull-left" ng-click="addCard('image-card')"></i>
		<i class="md md-healing pull-left" ng-click="addCard('symptom-card')"></i>
	</div>-->

	<div class="cardContainer col-md-11 col-md-offset-2">

		<div ng-repeat="day in journalEntries" class="journal-day">
			<div class="journal-day-header">{{day.date}}</div>
			<div class="card {{card.type}}" ng-repeat="card in day.components track by $index" card="card" emit-when="{event: 'allRendered', condition: $last}"></div>
		</div>

	</div>

</div>