<style>
.journal-day{padding:0;}

ul.symptom-cats {
	margin: 0;
	padding: 0;
}
ul.symptom-cats li {
	list-style: none;
}
ul.symptom-cats li a {
	padding: 8px 0 8px 8px;
	display: block;
	text-align: left;
	border-bottom: 1px solid #CCCCCC;
	border-radius: 0;
}
.panel {
	border: 1px solid #CCCCCC;
}
.panel-default > .panel-heading {
    color: #333;
    background-color: #ffffff;
    border-color: #cccccc;
    border-radius: none;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0px;
}
.panel-heading {
	padding: 0;
	position:relative;
}

a.accordion-toggle:hover, a.accordion-toggle:active, a.accordion-toggle:focus, a.accordion-toggle:visited {
	text-decoration: none;
}

.addedSymptom {
	background:rgba(65,14,126,0.3);
}

.focusleftView {
	color: #410E7E !important;
	font-weight: bold !important;
}
</style>

<div ng-controller="CardControllerInit">

	<div id="journal-entry">
		<span class="pull-left">ADD: &nbsp;</span>
		<i class="md md-create pull-left" ng-click="addCard('text-card')"></i>
		<i class="md md-camera-alt pull-left" ng-click="openAside('right',true,'modules/file-upload/templates/upload-image.html')"></i>
		<i class="md md-healing pull-left" ng-click="addCard('symptom-card')"></i>
		<!--i class="md md-healing pull-left" data-toggle="modal" href="#form-content" ng-click="addCard('symptom-card')"></i-->
	</div>

    <script type="text/ng-template" id="myModalContent.html">
		<div class="modal-header">
	        <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h3 class="modal-title" style="text-align: center;">Add a Symptom</h3>
		</div><!--END /.modal-header-->
        
		<div class="modal-body" style="overflow: auto; min-height: 300px; padding: 20px 20px 30px 20px;">
				<div>
					<div class="row" style="margin-bottom:10px;">
						<div class="col-md-6">
							<a href="#" class="label" ng-click="clickBack()" style="color: #333333; font-size: 14px;"><i class="fa fa-angle-double-left"></i> Back</a>
							<a href="#" class="label" ng-click="showSymptomsAdded()" style="color: #333333; font-size: 14px;">Symptoms Added: {{addedSymptoms}}</a>
						</div><!-- END /.col -->
						<div class="col-md-6">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-search"></i></span>
							  <input type="search" class="form-control" autocomplete="off" ng-model="symptomSearch" ng-change="modalSearchChange('search')" ng-blur="modalSearchChange('blur')" placeholder="Search by name"/>
							</div><!-- END /.input-group -->
						</div><!-- END /.col -->
					</div><!-- END /.row -->
					<div class="row">
						<div class="col-md-6">
							<ul class="symptom-cats">
								<div ng-repeat="(ky, vl) in leftView">
									<li>
									<a href="#" class="label" ng-click="clickLeftView($index, ky)" style="color: #333333; font-size: 14px;" ng-class="{'focusleftView': selectedCategory.value == ky}">{{ky}} <i class="fa fa-caret-right pull-right" style="color: #410E7E;" ng-show="selectedCategory.value == ky"></i></a>
									</li>
								</div>
							</ul>			
						</div>        
						<div class="col-md-6">
							<accordion close-others="closeOthers" ng-show="!showSearchView">
								<!--div ng-repeat="(key, val) in leftView" ng-if="key == currentCat"-->
								<div ng-repeat="(key, val) in rightView" style="margin-top:5px;">
									<accordion-group is-disabled=false is-open=false>
										<accordion-heading>
											<!--span-->
											<h4 style="float:left; padding:8px 0 8px 10px; font-size:14px;">{{key}}</h4>
											<i ng-class="{'fa fa-plus-circle':!clickedList[key], 'fa fa-minus-circle':clickedList[key]}" ng-show="showPlus[key]" style="float:right; padding:10px 10px 7px 0; font-size:14px;"></i>
											<div class="clear"></div>
											<div ng-class="addedSymps[key]" ng-click="clickRightView($index, key)" style="position:absolute; top:0; right:0; bottom:0; left:0;"></div>
											<!--/span-->
										</accordion-heading>
									    <p>Use the slider to record severity of symptom</p>
									    <div ring-slider cursor-attr="grab" severity-num="modalSeverities[key]"></div>
									    <div style="padding-top: 10px;">
									      <button type="button" class="btn btn-default" ng-click="addSymptom(key)">Add</button>
									      <button type="button" class="btn btn-default" ng-click="removeSymptom(key)"><i class="fa fa-trash-o"></i></button>
									    </div>
									</accordion-group>
									<!--div class="well" ng-click="clickLeftView($index, key)">
										<span>{{key}}</span>
									</div-->
								</div>
							</accordion>
							<accordion close-others="closeOthers" ng-show="showSearchView">
								<div ng-repeat="(key, val) in searchList | filter:filterAddedSymptoms" style="margin-top:5px">
									<accordion-group is-disabled=false is-open=false>
										<accordion-heading>
											<h4 style="float:left; padding:8px 0 8px 10px; font-size:14px;">{{val.name}}</h4>
											<i ng-class="{'fa fa-plus-circle':!clickedList[val.name], 'fa fa-minus-circle':clickedList[val.name]}" style="float:right; padding:10px 10px 7px 0; font-size:14px;"></i>
											<div class="clear"></div>
											<div ng-class="addedSymps[val.name]" ng-click="clickSearchView($index, val.name)" style="position:absolute; top:0; right:0; bottom:0; left:0;"></div>
										</accordion-heading>
									    <p>Use the slider to record severity of symptom</p>
									    <div ring-slider cursor-attr="grab" severity-num="modalSeverities[val.name]"></div>
									    <div style="padding-top: 10px;">
										    <button type="button" class="btn btn-default" ng-click="addSymptom(val.name)">Add</button>
										    <button type="button" class="btn btn-default" ng-click="removeSymptom(val.name)"><i class="fa fa-trash-o"></i></button>
										  </div>
									</accordion-group>
								</div>
							</accordion>
						</div>
					</div><!-- END /.row -->
				</div>
		</div><!-- END /.modal-body -->
      
		<div class="modal-footer">
			<button class="btn btn-success" type="button" ng-click="ok()">Save</button>
			<button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
		</div><!-- END /.modal-footer -->
    </script>

<style>
.cardController{padding-left:0; padding-right:0}
.journal-day{width:100%;}
.journal-day-header{width:100%;}
.journal-entry-reminder{
	width: 200px;
    margin: 10px 0 10px 10px;
    background-color: white;
    border-radius: 3px;
    padding: 8px 0;
    color: black;
    font-size: 12px;
    height: 30px;
    text-align: center;
}
</style>

	<div class="row">

		<div ng-controller="CardController" class="cardContainer col-md-8 col-md-offset-2">

			<div ng-repeat="day in journalEntries" class="journal-day" style="margin: 0 auto; max-width: 610px;">
				<div class="journal-day-header block">{{day.date}}</div>
				<h3 ng-if="checkIfEmpty(day.components)" class="journal-entry-reminder block">Click above to add a new entry</h3>
				<div class="card {{card.type}} block" ng-repeat="card in day.components" card="card" emit-when="{event: 'allRendered'}"></div><!--  -->
			</div>

		</div>

	</div>

</div>