<!-- 
the list goes by rows, not columns

each row has 1 or 2 columns, depending on width of card 

- symptom and text are fixed width (cut off text with "read more" button?)

- images can be single or double depending on width 
	resize the image to a fixed height, then decide whether to make it single or double columned based on resulting width value

	if the height has to be resized so that the width goes all the way across (the single or double column), then do so

	set the resolution when resizing (i.e. creating thumbnail for display in the list), or when displaying (i.e. <img height="", etc>)? 

-->

