<div class="outterCircle">
	<div class="rotationSlider"></div>
	<svg class="pie">
	  <circle cx="110" cy="110" r="110"></circle>
	  <path class="slice1" id="slice1" d="M110,110 L110,0 A110,110 1 0,1 205.263,164.999 z"></path>
	  <path class="slice2" id="slice2" d="M110,110 L205.263,164.999 A110,110 1 0,1 14.737,164.999 z"></path>
	  <path class="slice3" id="slice3" d="M110,110 L14.737,164.999 A110,110 1 0,1 110,0 z"></path>
	</svg>
	<div class="middleCircle"></div>
	<div class="innerCircle">{{severityText}}</div>
</div>